@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
body{
    margin: auto;
    background-color: #38402A;
    color:white;
    font-family: 'Francois One', sans-serif;
}

.App {
    text-align: center;
    
}
.App h1{
    text-shadow: 5px  3px black;
    font-size: 40px;
}

.button button{
    padding:20px;
    border-radius: 55px;
    font-size: 22px;
    font-family: 'Francois One', sans-serif;
}
.button button:hover{
    box-shadow: 0 0 10px 0px black;
    cursor: pointer;
   
    background-color: #0A0A0C;
    color:white;
}

div img{
    border-radius: 20px;
    box-shadow:  15px 15px 15px -1px black;
}

div p{
    font-size: 30px;
    text-shadow:  1px 2px 3px black;
}